*{
    padding: 0;
    margin: 0;
}

.full-image{
    height: 100vh;
    background-color: yellow;
    background: url('img/sky_stars.jpg');
    background-size: 100% 100%;
    display: grid;
    place-items: center;
}
.site-title{
    font-size: 4rem;
    color: yellow;
    text-align: center;
}
.section1,
.section2,
.section3{
    height: 100vh;
}
.section1{
    background: linear-gradient(purple, white);
}
.section2{
    background: linear-gradient(pink, white);
}
.section3{
    background: linear-gradient(orange, white);
}
.section-title{
    font-size: 3rem;
    text-align: center;
    color: black;
}